/* common shared styles */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.text-primary{
    color: #FD6E0A;

}

.button-primary{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 3px;
    padding: 5px 10px;

}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;

}

/*nav related styles*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

}

.nav-title{
    font-size: 45;
    font-weight: 800;
    color:#181818 ;
}

nav> ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px ;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/*header related style */

.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;


}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-picture{
    width: 500px;
}

.banner-contant{
    max-width:500px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 0;

    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-description{
    margin-top: 0;
    margin-bottom: 20px;

}

/*main section style  */
.main{
    max-width: 1140px;
    margin: 0 auto;

}


/*about section style start */


.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content:space-around ;
   
}

.about-info{
    text-align: center;
}

#what-i-do-description{
    padding: 30px 150px;
}
.skills-container{
    display: flex;
}


